html{
	padding: 20px 100px 100px 100px;
	background-color: #C49DF0;

}
#body{
	width: 800px;
	height: 1000px;
 	margin-left: 180px;
	padding: 0 20px 20px 20px;
	
	
}

img{
	display: block;
 	margin: 0 auto;
 	width: 145px; height: 145px;
}
#datos{
	margin-left: 10px;
	margin-top: 50px;
}

 #videos {
 	margin-top: 50px;
    width: 1000px;
    height: 400px;
 }


.paging-button {
  visibility: hidden;
}

.button-container {
  clear: both;
}

h1,#t{
	color: #3F5DBF;
	font-family: placeholder;


}